@import './mixin';
@include mq(small){
    .container{
        width:100%;
        height:100vh;
        background-color: lighten(pink,10%);
       
    
    
    
       .main{
        position:relative;
        width:100%;
        height:100%;
        overflow:hidden;
    
       }
       .title{
        width:100%;
        height:10%;
        text-align: center;
        background: rgba(0,0,0,0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        text-shadow: 0 2px 2px #00ca;
        overflow:hidden;
        font-size:40px;
      
        .sprites{
            position:absolute;
            left:0;
            width:calc(256px / 3.5);
            height:calc(512px /6);
          
            background: url("../public/spaceShip.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y:10%;
         
         
    
        }
        .firstPart{
            color: rgba(0,0,0,0.5);
            animation:first 1s linear;
            text-shadow: 1px 2px 2px skyblue;
        }
        .secondPart{
          color: rgba(0,0,0,0.5);
            animation:second 1s linear;
            text-shadow: 1px 2px 2px skyblue;
        }
    @keyframes first{
        0%{transform:translateX(-100%)}
        100%{transform:translateX(0)}
    }
    @keyframes second{
        0%{
            transform:translateX(200%)
        }
        100%{
            transform:translateX(0%)
        }
    }
       }
    
       .effectSlide{
        position:relative;
        width:100%;
        height:70%;
        position:absolute;
       
        left:-100%;
        z-index:2;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
      
        .span{
           z-index:3;
           backdrop-filter: blur(10px);
           display:block;
      
           background: linear-gradient(180deg,rgba(0,0,0,0.9),rgba(200,0,0,0.5),transparent,yellow);
           width:100%;
           height:3%;
         
           opacity:0.4;
        }
        
       }
       .section{
        width:100%;
        height:70%;
        background-color: skyblue;
        overflow:hidden;
    box-shadow:0px 0px 35px 10px rgba(0,0,80,0.8),0px 0px 65px 10px rgba(0,0,80,0.8),0px 0px 95px 10px rgba(0,0,80,0.8);
     
        overflow:hidden;
    .slider{
        width:100%;
        height:100%;
       
        display:flex;
      
    
        .img{
            min-width:100%;
            
        }
    }
    
       }
    
    .buttonPak{
        width:100%;
        height:20%;
        
       
        .left{
            width:20%;
            height:20%;
            background: rgba(10,0,0,0.5);
            border:2px dotted brown;
            width:50%;
            height:60%;
            border:2px dotted brown;
            font-weight: 800;
            font-size:80px;
            transition:0.5s;
            text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
    
          
         
        }
        .right{
                width:20%;
                height:20%;
            background: rgba(10,0,0,0.5);
                border:2px dotted brown;
                width:50%;
                height:60%;
                border:2px dotted brown;
                font-weight: 800;
                font-size:80px;
                text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
                transition:0.5s;
              
        }
        .right:hover{
            background: rgba(90,0,0,0.8);
        }
        .left:hover{
            background: rgba(90,0,0,0.8);
        }
        .return{
            width:100%;
            height:40%;
            background: rgba(0,0,0,0.4);
            font-size:22px;
            color:white;
            transition:0.5s;
        }
        .return:hover{
            background: rgba(80,0,0,0.8);
            letter-spacing:3px;
            -webkit-text-stroke:0.5px red;
        }
    }
      //RETURN EFFECT _ WHEN USER WANT BACK TO FIRST PAGE IT TURN ON
      .returnEffect{
        width:10%;
        height:6%;
     
        position:absolute;
        left:50%;
        transform:translate(-50%,-50%);
        top:50%;
        z-index:100;
        animation:animationLoader 10s linear infinite;
        opacity:0;
    
    }
    @keyframes animationLoader{
        0%{
            filter:hue-rotate(0)
        }
        100%{
            filter:hue-rotate(360deg)
        }
    }
       }
    
}
@include mq(xsmall){
    .container{
        width:100%;
        height:100vh;
        background-color: lighten(pink,10%);
    
    
    
       .main{
        position:relative;
        width:100%;
        height:100%;
        overflow:hidden;
    
       }
       .title{
        width:100%;
        height:10%;
        background: rgba(0,0,0,0.5);
        text-shadow: 0 2px 2px #00ca;
        overflow:hidden;
        font-size:40px;
    
        display: flex;
        justify-content: center;
        align-items: center;
        .sprites{
            
            
          
            width:100px;
            background: url("../public/spaceShip.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y:10%;
            left:10%;
         
          
         
         
    
        }
   @include sprites(one){
  .sprites{
    left:15%;
  }
  
   }
   @include sprites(two){
    .sprites{
      left:20%;
    }
    
     }
     @include sprites(three){
        .sprites{
          left:25%;
        }
        
         }
         @include sprites(four){
            .sprites{
              left:30%;
            }
            
             }
             @include sprites(five){
                .sprites{
                  left:33%;
                }
                
                 }
        .firstPart{
            color: rgba(0,0,0,0.5);
            animation:first 1s linear;
            text-shadow: 1px 2px 2px skyblue;
          
          
       
           
        }
        .secondPart{
          color: rgba(0,0,0,0.5);
            animation:second 1s linear;
            text-shadow: 1px 2px 2px skyblue;
        }
    @keyframes first{
        0%{transform:translateX(-100%)}
        100%{transform:translateX(0)}
    }
    @keyframes second{
        0%{
            transform:translateX(200%)
        }
        100%{
            transform:translateX(0%)
        }
    }

       }
    
       .effectSlide{
        position:relative;
        width:100%;
        height:70%;
        position:absolute;
       
        left:-100%;
        z-index:2;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
      
        .span{
           z-index:3;
           backdrop-filter: blur(10px);
           display:block;
      
           background: linear-gradient(180deg,rgba(0,0,0,0.9),rgba(200,0,0,0.5),transparent,yellow);
           width:100%;
           height:3%;
         
           opacity:0.4;
        }
        
       }
       .section{
        width:100%;
        height:70%;
        background-color: skyblue;
        overflow:hidden;
        box-shadow:0px 0px 35px 10px rgba(0,0,80,0.8),0px 0px 65px 10px rgba(0,0,80,0.8),0px 0px 95px 10px rgba(0,0,80,0.8);
    
     
        overflow:hidden;
    .slider{
        width:100%;
        height:100%;
       
        display:flex;
      
    
        .img{
            min-width:100%;
            
        }
    }
    
       }
    
    .buttonPak{
        width:100%;
        height:20%;
        
       
        .left{
            width:20%;
            height:20%;
            background: rgba(10,0,0,0.5);
            border:2px dotted brown;
            width:50%;
            height:60%;
            border:2px dotted brown;
            font-weight: 800;
            
        
            text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
    
          
         
        }
        .right{
                width:20%;
                height:20%;
            background: rgba(10,0,0,0.5);
                border:2px dotted brown;
                width:50%;
                height:60%;
                border:2px dotted brown;
                font-weight: 800;
                
                text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
              
        }
        .return{
            width:100%;
            height:40%;
            background: rgba(0,0,0,0.4);
            font-size:22px;
            color:white;
        }
    }
    //RETURN EFFECT _ WHEN USER WANT BACK TO FIRST PAGE IT TURN ON
    .returnEffect{
        width:10%;
        height:6%;
     
        position:absolute;
        left:50%;
        transform:translate(-50%,-50%);
        top:50%;
        z-index:100;
        animation:animationLoader 10s linear infinite;
        opacity:0;
    
    }
    @keyframes animationLoader{
        0%{
            filter:hue-rotate(0)
        }
        100%{
            filter:hue-rotate(360deg)
        }
    }
       }
    
}
@include mq(medium){
    .container{
        width:100%;
        height:100vh;
        background-color: lighten(pink,10%);
        overflow:hidden;
    
    
    
       .main{
        position:relative;
        width:100%;
        height:100%;
        overflow:hidden;
       
    
       }
       .title{
        width:100%;
        height:10%;
        background: rgba(0,0,0,0.5);
        text-shadow: 0 2px 2px #00ca;
        overflow:hidden;
        font-size:40px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        .sprites{
            
            
          
            width:100px;
            background: url("../public/spaceShip.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y:10%;
            left:10%;
         
          
         
         
    
        }
   @include sprites(one){
  .sprites{
    left:15%;
  }
  
   }
   @include sprites(two){
    .sprites{
      left:20%;
    }
    
     }
     @include sprites(three){
        .sprites{
          left:25%;
        }
        
         }
         @include sprites(four){
            .sprites{
              left:30%;
            }
            
             }
             @include sprites(five){
                .sprites{
                  left:33%;
                }
                
                 }
        .firstPart{
            color: rgba(0,0,0,0.5);
            animation:first 1s linear;
            text-shadow: 1px 2px 2px skyblue;
          
          
       
           
        }
        .secondPart{
          color: rgba(0,0,0,0.5);
            animation:second 1s linear;
            text-shadow: 1px 2px 2px skyblue;
        }
    @keyframes first{
        0%{transform:translateX(-100%)}
        100%{transform:translateX(0)}
    }
    @keyframes second{
        0%{
            transform:translateX(200%)
        }
        100%{
            transform:translateX(0%)
        }
    }

       }
    
       .effectSlide{
        position:relative;
        width:100%;
        height:70%;
        position:absolute;
       
        left:-100%;
        z-index:2;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
      
        .span{
           z-index:3;
           backdrop-filter: blur(10px);
           display:block;
      
           background: linear-gradient(180deg,rgba(0,0,0,0.9),rgba(200,0,0,0.5),transparent,yellow);
           width:100%;
           height:3%;
         
           opacity:0.4;
        }
        
       }
       .section{
        width:100%;
        height:70%;
        background-color: skyblue;
        overflow:hidden;
       
        box-shadow:0px 0px 35px 10px rgba(0,0,80,0.8),0px 0px 65px 10px rgba(0,0,80,0.8),0px 0px 95px 10px rgba(0,0,80,0.8);
    
     
        overflow:hidden;
    .slider{
        width:100%;
        height:100%;
       
        display:flex;
      
    
        .img{
            min-width:100%;
            
        }
    }
    
       }
    
    .buttonPak{
        width:100%;
        height:20%;
        
       
        .left{
            width:20%;
            height:20%;
            background: rgba(10,0,0,0.5);
            border:2px dotted brown;
            width:50%;
            height:60%;
            border:2px dotted brown;
            font-weight: 800;
           
        
            text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
    
          
         
        }
        .right{
                width:20%;
                height:20%;
            background: rgba(10,0,0,0.5);
                border:2px dotted brown;
                width:50%;
                height:60%;
                border:2px dotted brown;
                font-weight: 800;
             
                text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
              
        }
        .return{
            width:100%;
            height:40%;
            background: rgba(0,0,0,0.4);
            font-size:22px;
            color:white;
        }
    }
    //RETURN EFFECT _ WHEN USER WANT BACK TO FIRST PAGE IT TURN ON
    .returnEffect{
        width:10%;
        height:6%;
     
        position:absolute;
        left:50%;
        transform:translate(-50%,-50%);
        top:50%;
        z-index:100;
        animation:animationLoader 10s linear infinite;
        opacity:0;
    
    }
    @keyframes animationLoader{
        0%{
            filter:hue-rotate(0)
        }
        100%{
            filter:hue-rotate(360deg)
        }
    }
       }
    
}
@include mq(large){
    .container{
        width:100%;
        height:100vh;
        background-color: lighten(pink,10%);
        overflow:hidden;
    
    
    
       .main{
        position:relative;
        width:100%;
        height:100%;
        overflow:hidden;
       
    
       }
       .title{
        width:100%;
        height:10%;
        background: rgba(0,0,0,0.5);
        text-shadow: 0 2px 2px #00ca;
        overflow:hidden;
        font-size:40px;
        
        display: flex;
        justify-content: center;
        align-items: center;
        .sprites{
            
            
          
            width:100px;
            background: url("../public/spaceShip.png");
            background-size: contain;
            background-repeat: no-repeat;
            background-position-y:10%;
            left:10%;
         
          
         
         
    
        }
   @include sprites(one){
  .sprites{
    left:15%;
  }
  
   }
   @include sprites(two){
    .sprites{
      left:20%;
    }
    
     }
     @include sprites(three){
        .sprites{
          left:25%;
        }
        
         }
         @include sprites(four){
            .sprites{
              left:30%;
            }
            
             }
             @include sprites(five){
                .sprites{
                  left:33%;
                }
                
                 }
        .firstPart{
            color: rgba(0,0,0,0.5);
            animation:first 1s linear;
            text-shadow: 1px 2px 2px skyblue;
          
          
       
           
        }
        .secondPart{
          color: rgba(0,0,0,0.5);
            animation:second 1s linear;
            text-shadow: 1px 2px 2px skyblue;
        }
    @keyframes first{
        0%{transform:translateX(-100%)}
        100%{transform:translateX(0)}
    }
    @keyframes second{
        0%{
            transform:translateX(200%)
        }
        100%{
            transform:translateX(0%)
        }
    }

       }
    
       .effectSlide{
        position:relative;
        width:100%;
        height:70%;
        position:absolute;
       
        left:-100%;
        z-index:2;
        display:flex;
        justify-content: space-between;
        flex-direction: column;
      
        .span{
           z-index:3;
           backdrop-filter: blur(10px);
           display:block;
      
           background: linear-gradient(180deg,rgba(0,0,0,0.9),rgba(200,0,0,0.5),transparent,yellow);
           width:100%;
           height:3%;
         
           opacity:0.4;
        }
        
       }
       .section{
        width:100%;
        height:70%;
        background-color: skyblue;
        overflow:hidden;
       
        box-shadow:0px 0px 35px 10px rgba(0,0,80,0.8),0px 0px 65px 10px rgba(0,0,80,0.8),0px 0px 95px 10px rgba(0,0,80,0.8);
    
     
        overflow:hidden;
    .slider{
        width:100%;
        height:100%;
       
        display:flex;
      
    
        .img{
            min-width:100%;
            
        }
    }
    
       }
    
    .buttonPak{
        width:100%;
        height:20%;
        
       
        .left{
            width:20%;
            height:20%;
            background: rgba(10,0,0,0.5);
            border:2px dotted brown;
            width:50%;
            height:60%;
            border:2px dotted brown;
            font-weight: 800;
           
        
            text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
    
          
         
        }
        .right{
                width:20%;
                height:20%;
            background: rgba(10,0,0,0.5);
                border:2px dotted brown;
                width:50%;
                height:60%;
                border:2px dotted brown;
                font-weight: 800;
             
                text-shadow: 0 2px 2px blue,0 3px 3px blue,0 4px 4px blue;
              
        }
        .return{
            width:100%;
            height:40%;
            background: rgba(0,0,0,0.4);
            font-size:22px;
            color:white;
        }
    }
    //RETURN EFFECT _ WHEN USER WANT BACK TO FIRST PAGE IT TURN ON
    .returnEffect{
        width:10%;
        height:6%;
     
        position:absolute;
        left:50%;
        transform:translate(-50%,-50%);
        top:50%;
        z-index:100;
        animation:animationLoader 10s linear infinite;
        opacity:0;
    
    }
    @keyframes animationLoader{
        0%{
            filter:hue-rotate(0)
        }
        100%{
            filter:hue-rotate(360deg)
        }
    }
       }
    
}