.footer{
    width:100%;
    height:100%;
   background: rgba(0,0,0,0.5);
   color:red;
   .email{
    display: flex;
    justify-content: center;
    align-items: center;
    height:100%;
    a{
        color:blue;
        -webkit-text-stroke:0.5px white;
    }
   }
}