.container{
  width:100vw;
  min-height:100vh;
}
.header{
  position:relative;
  height:90vh;
  width:100%;
}
.main{
  width:100%;
  height:90vh;
}
.canvas{
  position: absolute;
  background:linear-gradient(lighten(gray,2%),black, gray,black);
  width:100%;
  max-width:100%;
  height:100%;

}
.footer{
  height:10vh;
  width:100%;
  height:100%;
  z-index:1000;
 
}