$breakpoints:(
    xsmall:(min-width:200px),
    small:(min-width:550px),
    medium:(min-width:700px),
    large:(min-width:1124px),
    xlarge:(min-width:1200px),
    xxlarge:(min-width:1400px),
);
@mixin mq ($breakpoint){
    $size:map-get($breakpoints,$breakpoint);
    @if($size){
        @media #{$size}{
            @content;
        }
    }
    @else {
        @error '"#{$breakpoint} " - nie rozpoznaje tej wielkosci'
    }

}